img {
  max-height: 227px;
  max-width: 350px;
}

@media only screen and (max-width: 1000px) {
    img {
      max-height: 190px;
    }
}

@media only screen and (max-width: 600px) {
    img {
      max-height: 150px;
    }
}